.login-box {
    width: 350px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
  }
  

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white no-repeat center center fixed;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
button {
    background: #03e9f4;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
  }
button:hover {
    background: #029db0;
  }
  